/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,700;1,300;1,400;1,600&display=swap');

/* SetUP */
:root {
    /* Color Styles */
    --primary: #8900b3;
    --primary-light: #9e00dd;
    --dark-brown: #341413;
    --gray-1: #798092;
    --gray-2: #bbbbcc;
    --white: #FFFFFF;

    /* Font Size Desktop */
    --header-1: 64px;
    --header-2: 48px;
    --header-3: 42px;
    --header-4: 32px;

    --text-large: 24px;
    --text-medium: 18px;
    --text-regular: 16px;
    --text-light: 13px;

    /* Font Weight */
    --font-weight-bold: 700;
    --font-weight-semi-bold: 600;
    --font-weight-medium: 500;
    --font-weight-regular: 400;
    --font-weight-light: 300;

}

body {
    font-family: 'Poppins', sans-serif;
}

/* BUTTON PRIMARY */
.btn{
    padding: 12px 18px;
    border-radius: 6px;
    font-size: var(--text-medium);
    font-weight: var(--font-weight-bold);
}

.btn-primary{
    background-color: var(--primary);
    border: none;
}

.btn-primary:focus{
    background-color: var(--primary-light);
}

.btn-primary:hover{
    background-color: var(--primary-light);
}

/* BUTTON SECONDARY */
.btn-secondary{
    background-color: var(--gray-2);
    color: var(--gray-1);
}

.btn-secondary:focus{
    background-color: var(--white);
    box-shadow: 0px 4px 19px rgba(0,0,0,0.05) !important;
    columns: var(--gray-1);
}

.btn-secondary:hover{
    background-color: var(--white) !important;
    box-shadow: 0px 4px 19px rgba(0,0,0,0.05) !important;
    color: var(--gray-1);
}

/* NAVBAR */

.navbar-brand img{
    padding-right: 6px;
}

.navbar-brand span{
    font-size: var(--text-large);
    font-weight: var(--font-weight-bold);
    color: var(--dark-brown);
}

.navbar{
    padding: 8px 0;
}

.navbar-nav .nav-item .nav-link.active {
    font-weight: bold; /* Change the font weight for the active link */
}

a.nav-link{
    margin-right: 39px;
    font-size: var(--text-);
    font-weight: var(--font-weight-regular);
  
}

/* HERO */
section.hero{
    margin: 5rem 0;
}

.text-label,
.text-hero-bold,
.text-hero-regular{
    margin: 15px 0;
}

.text-label{
    color: var(--primary);
    font-size: var(--text-large);
    font-weight: var(--font-weight-regular);
    line-height: 25px;
}

.text-hero-bold{
    color: var(--dark-brown);
    font-size: var(--header-1);
    font-weight: var(--font-weight-bold);
    line-height: 74px;
}

.text-hero-regular{
    color: var(--gray-1);
    font-size: var(--text-regular);
    font-weight: var(--font-weight-semi-bold);
    line-height: 31px;
}

/* TESTIMONI BRAND */
.testimoni-brand{
    padding: 24px 0;
}

/* DESKTOP VERSION ONLY */
@media (min-width: 1399.98px){
    .container{
        width: 84%;
    }
    /*TESTIMONI BRAND*/
    .testimoni-brand{
        padding: 4rem 5rem;
    }
}

/* MOBILE VERSION ONLY */
@media (max-width: 576px){

    /*NAVBAR*/
    .navbar{
        padding: 28px 0;
    }
    
    a.nav-link{
        margin-right: 7px 0;
    }

    /*HERO*/
    section.hero{
        margin: 2rem 0;
        text-align: center;
    }

    .btn{
        display:block;
        margin: 1rem 0;
    }

    .ms-3{
        margin-left: 0 !important;
    }

    .text-label,
    .text-hero-bold,
    .text-hero-regular{
        text-align: center;
    }

    .text-hero-bold{
        font-weight: var(--font-weight-bold);
        font-size: var(--header-3);
        line-height: 64px;
    }

    section.hero img{
        margin: 2rem 0;
    }
}

/* TABLET SMALL VERSION ONLY */
@media (max-width: 768px) {
    /*NAVBAR*/
    .navbar{
        padding: 28px 0;
    }
    
    a.nav-link{
        margin-right: 7px 0;
    }

    /*HERO*/
    section.hero{
        margin: 1rem 0;
    }

    .text-hero-bold{
        font-weight: var(--font-weight-bold);
        font-size: var(--header-3);
        line-height: 64px;
    }

    section.hero img{
        margin: 2rem 0;
    }
}

/*TABLET MEDIUM & LARGE VERSION ONLY */
@media (max-width:992px){
        /*NAVBAR*/
        .navbar{
            padding: 28px 0;
        }
        
        a.nav-link{
            margin-right: 7px 0;
        }
    
        /*HERO*/
        section.hero{
            margin: 1rem 0;
        }
    
        .text-hero-bold{
            font-weight: var(--font-weight-bold);
            font-size: var(--header-3);
            line-height: 64px;
        }
}