{% block content %}
{% if user.is_authenticated %}
{% load static %}
<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>SDG - Dashboard</title>
  <meta name="description" content="Sufee Admin - HTML5 Admin Template">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="apple-touch-icon" href="apple-icon.png">
  <link rel="shortcut icon" href="favicon.ico">
  <!-- icon -->
  <link rel="shortcut icon" href="{% static 'images/logo.svg' %}" type="image/x-icon">
  <link rel="stylesheet" href="{% static 'sadm/vendors/bootstrap/dist/css/bootstrap.min.css'%}">
  <link rel="stylesheet" href="{% static 'sadm/vendors/font-awesome/css/font-awesome.min.css'%}">
  <link rel="stylesheet" href="{% static 'vendors/themify-icons/css/themify-icons.css'%}">
  <link rel="stylesheet" href="{% static 'sadm/vendors/flag-icon-css/css/flag-icon.min.css'%}">
  <link rel="stylesheet" href="{% static 'sadm/vendors/selectFX/css/cs-skin-elastic.css'%}">

  <script src="https://kit.fontawesome.com/334c45a40c.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{% static 'sadm/assets/css/style.css'%}">

  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
  <!-- Include SweetAlert 2 library -->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  
  <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.0/dist/chart.umd.min.js"></script>
</head>

<body>


  <!-- Left Panel -->
  <aside id="left-panel" class="left-panel">
    <nav class="navbar navbar-expand-sm navbar-default">

      <div class="navbar-header">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu"
          aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fa fa-bars"></i>
        </button>
        <a class="navbar-brand" href="./"><img src="{% static 'images/logo.svg'%}" alt="Logo">&nbsp; SDG </a>
        <a class="navbar-brand hidden" href="./"><img src="{% static 'images/logo.svg'%}" alt="Logo"></a>
      </div>

      <div id="main-menu" class="main-menu collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="active">
            <a href="{% url 'dashboard'%}"> <i class="menu-icon fa fa-dashboard"></i>Dashboard </a>
          </li>
          <h3 class="menu-title">Menu</h3><!-- /.menu-title -->
          <li class="menu-item-has-children dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="menu-icon fa-solid fa-bullseye"></i>Goals</a>
            <ul class="sub-menu children dropdown-menu">
              <li><i class="fa-solid fa-globe"></i><a href="{% url 'all_goals'%}">All Goals</a></li>
              <li><i class="fa-solid fa-earth-asia"></i><a href="{% url 'all_countries' %}">All Countries</a></li>
              <li><i class="fa-solid fa-circle-plus"></i><a href="{% url 'add_goals' %}">Add Goals</a></li>
              <li><i class="fa-solid fa-location-dot"></i><a href="{% url 'add_country' %}">Add Country</a></li>
            </ul>
          </li>
          <li class="menu-item-has-children dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i
                class="menu-icon fa-solid fa-list"></i>SDG List</a>
            <ul class="sub-menu children dropdown-menu">
              <li><i class="fa-solid fa-table"></i><a href="{% url 'all_sdg' %}">SDG Tables</a></li>
              <li><i class="fa-solid fa-table-list"></i><a href="{% url 'add_sdg' %}">Add SDG</a></li>
            </ul>
          </li>
          <li class="menu-item-has-children dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="menu-icon fa-solid fa-chart-simple"></i>Visualization</a>
            <ul class="sub-menu children dropdown-menu">
              <li><i class="fa-solid fa-chart-line"></i><a href="{% url 'first_charts' %}">SDG Index Score (2022)</a></li>
              <li><i class="fa-solid fa-chart-bar"></i><a href="{% url 'second_charts' %}">SDG Index High - Low</a></li>
            </ul>
          </li>
          <h3 class="menu-title">Extras</h3><!-- /.menu-title -->
          <li>
            <a href="{% url 'logout' %}"><i class="menu-icon fa-solid fa-right-from-bracket"></i>Logout </a>
          </li>
        </ul>
      </div>
    </nav>
  </aside>
  <!-- /#left-panel -->

  <!-- Left Panel -->

  <!-- Right Panel -->

  <div id="right-panel" class="right-panel">

    <!-- Header-->
    <header id="header" class="header">

      <div class="header-menu">

        <div class="col-sm-7">
          <a id="menuToggle" class="menutoggle pull-left"><i class="fa fa fa-tasks"></i></a>
          <div class="header-left">
            <button class="search-trigger"><i class="fa fa-search"></i></button>
            <div class="form-inline">
              <form class="search-form">
                <input class="form-control mr-sm-2" type="text" placeholder="Search ..." aria-label="Search">
                <button class="search-close" type="submit"><i class="fa fa-close"></i></button>
              </form>
            </div>

            <div class="dropdown for-notification">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="notification" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-bell"></i>
                <span class="count bg-danger">1</span>
              </button>
              <div class="dropdown-menu" aria-labelledby="notification">
                <p class="red">You have 1 Notification</p>
                <a class="dropdown-item media bg-flat-color-1" href="#">
                  <i class="fa fa-check"></i>
                  <p>You have successfully Logged in</p>
                </a>
              </div>
            </div>

            <div class="dropdown for-message">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="message" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fa-solid fa-envelope"></i>
                <span class="count bg-primary">1</span>
              </button>
              <div class="dropdown-menu" aria-labelledby="message">
                <p class="red">You have 1 Mail</p>
                <a class="dropdown-item media bg-flat-color-1" href="#" data-toggle="modal" data-target="#imageModal">
                  <span class="photo media-left">
                    <img alt="avatar" src="{% static 'images/video_cat.jpg' %}"
                      data-src="{% static 'images/video_cat.jpg' %}" class="thumbnail">
                  </span>
                  <span class="message media-body">
                    <span class="name float-left">Loloy</span>
                    <span class="time float-right">Just now</span>
                    <p>Meow? Meow Meow..</p>
                  </span>
                </a>

                <!-- <a class="dropdown-item media bg-flat-color-4" href="#">
                  <span class="photo media-left"><img alt="avatar" src="images/avatar/2.jpg"></span>
                  <span class="message media-body">
                    <span class="name float-left">Jack Sanders</span>
                    <span class="time float-right">5 minutes ago</span>
                    <p>Lorem ipsum dolor sit amet, consectetur</p>
                  </span>
                </a>
                <a class="dropdown-item media bg-flat-color-5" href="#">
                  <span class="photo media-left"><img alt="avatar" src="images/avatar/3.jpg"></span>
                  <span class="message media-body">
                    <span class="name float-left">Cheryl Wheeler</span>
                    <span class="time float-right">10 minutes ago</span>
                    <p>Hello, this is an example msg</p>
                  </span>
                </a>
                <a class="dropdown-item media bg-flat-color-3" href="#">
                  <span class="photo media-left"><img alt="avatar" src="images/avatar/4.jpg"></span>
                  <span class="message media-body">
                    <span class="name float-left">Rachel Santos</span>
                    <span class="time float-right">15 minutes ago</span>
                    <p>Lorem ipsum dolor sit amet, consectetur</p>
                  </span>
                </a> -->
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-5">
          <div class="user-area dropdown float-right">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <img class="user-avatar rounded-circle" src="{% static 'images/user.jpg'%}" alt="User Avatar">
            </a>

            <div class="user-menu dropdown-menu">
              <a class="nav-link" href="#" data-toggle="modal" data-target="#profileModal">
                <i class="fa fa-user"></i> My Profile
              </a>


              <!-- <a class="nav-link" href="#"><i class="fa fa-user"></i> Notifications <span class="count">13</span></a>

              <a class="nav-link" href="#"><i class="fa fa-cog"></i> Settings</a> -->

              <a class="nav-link" href="{% url 'logout' %}"><i class="fa fa-power-off"></i> Logout</a>
            </div>
          </div>

          <div class="language-select dropdown" id="language-select">
            <a class="dropdown-toggle" href="#" data-toggle="dropdown" id="language" aria-haspopup="true"
              aria-expanded="true">
              <i class="flag-icon flag-icon-us"></i>
            </a>
            <div class="dropdown-menu" aria-labelledby="language">
              <div class="dropdown-item">
                <span class="flag-icon flag-icon-fr"></span>
              </div>
              <div class="dropdown-item">
                <i class="flag-icon flag-icon-es"></i>
              </div>
              <div class="dropdown-item">
                <i class="flag-icon flag-icon-us"></i>
              </div>
              <div class="dropdown-item">
                <i class="flag-icon flag-icon-it"></i>
              </div>
            </div>
          </div>

        </div>
      </div>

    </header><!-- /header -->
    <!-- Header-->

    <div class="breadcrumbs">
      <div class="col-sm-4">
        <div class="page-header float-left">
          <div class="page-title">
            <h1><i class="menu-icon fa fa-dashboard"></i> &nbsp; Dashboard</h1>
          </div>
        </div>
      </div>
      <div class="col-sm-8">
        <div class="page-header float-right">
          <div class="page-title">
            <ol class="breadcrumb text-right">
              <li class="active">Dashboard</li>
            </ol>
          </div>
        </div>
      </div>
    </div>

    <div class="content mt-3">

      <!-- <div class="col-sm-12">
        <div class="alert  alert-success alert-dismissible fade show" role="alert">
          <span class="badge badge-pill badge-success">Success</span> You successfully read this important alert
          message.
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div> -->


      <div class="col-sm-6 col-lg-3">
        <div class="card text-white bg-flat-color-1">
            <div class="card-body pb-0">
                <div class="dropdown float-right">
                    <button class="btn bg-transparent dropdown-toggle theme-toggle text-light" type="button"
                        id="dropdownMenuButton1" data-toggle="dropdown">
                        <i class="fa fa-cog"></i>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <div class="dropdown-menu-content">
                            <a class="dropdown-item" href="{% url 'all_sdg' %}">SDG Records</a>
                        </div>
                    </div>
                </div>
                <h4 class="mb-0">
                    <span class="count">{{ total_sdg_records }}</span>
                </h4>
                <p class="text-light">SDG Records</p>
             
            </div>
        </div>
    </div>
    
    <div class="col-sm-6 col-lg-3">
        <div class="card text-white bg-flat-color-2">
            <div class="card-body pb-0">
                <div class="dropdown float-right">
                    <button class="btn bg-transparent dropdown-toggle theme-toggle text-light" type="button"
                        id="dropdownMenuButton2" data-toggle="dropdown">
                        <i class="fa fa-cog"></i>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                        <div class="dropdown-menu-content">
                            <a class="dropdown-item" href="{% url 'all_sdg' %}">SDG Records</a>
                        </div>
                    </div>
                </div>
                <h4 class="mb-0">
                    <span class="count">{{ avg_sdg_index_score }}</span>
                </h4>
                <p class="text-light"> AVG Index Score</p>
    
             
            </div>
        </div>
    </div>
    
    <div class="col-sm-6 col-lg-3">
        <div class="card text-white bg-flat-color-1">
            <div class="card-body pb-0">
                <div class="dropdown float-right">
                    <button class="btn bg-transparent dropdown-toggle theme-toggle text-light" type="button"
                        id="dropdownMenuButton1" data-toggle="dropdown">
                        <i class="fa fa-cog"></i>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <div class="dropdown-menu-content">
                            <a class="dropdown-item" href="{% url 'all_countries' %}">Country Records</a>
                        </div>
                    </div>
                </div>
                <h4 class="mb-0">
                    <span class="count">{{ total_country_records }}</span>
                </h4>
                <p class="text-light">Total Countries</p>
    
            
            </div>
        </div>
    </div>
    
    <div class="col-sm-6 col-lg-3">
        <div class="card text-white bg-flat-color-4">
            <div class="card-body pb-0">
                <div class="dropdown float-right">
                    <button class="btn bg-transparent dropdown-toggle theme-toggle text-light" type="button"
                        id="dropdownMenuButton4" data-toggle="dropdown">
                        <i class="fa fa-cog"></i>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton4">
                        <div class="dropdown-menu-content">
                            <a class="dropdown-item" href="{% url 'all_goals' %}">SDG Goal Records</a>
                        </div>
                    </div>
                </div>
                <h4 class="mb-0">
                    <span class="count">{{ total_goal_records }}</span>
                </h4>
                <p class="text-light">Total Goals</p>
    
             
            </div>
        </div>
    </div>
    

      <div class="col-xl-6">
        <div class="card">
              <div class="card-header">
                <h4>SDG Top 5 Country With Highest Average Index Score</h4>
              </div>
            <div class="chart-wrapper mt-4">
              <canvas id="avgSdgChart" width="400" height="200"></canvas>
          </div>
        </div>
      </div>   

      <div class="col-xl-6">
        <div class="card">
              <div class="card-header">
                <h4>SDG Top 5 Country With Lowest Average Index Score</h4>
              </div>
            <div class="chart-wrapper mt-4">
              <canvas id="avgSdgChartLow" width="400" height="200"></canvas>
          </div>
        </div>
      </div>   

      <div>
        <div class="card" style="width: 100%; justify-content: center;">
            <div class="card-header">
                <h4>SDG Average Index Score Per Year</h4>
            </div>
            <div>
              <canvas id="avgScoreByYearChart" width="300" height="100"></canvas>
            </div>
        </div>
    </div>

    <div class="col-xl-6">
      <div class="card">
        <div class="card-header">
          <h4>SDG Average Score Per Goal (2000 - 2022)</h4>
        </div>
          <canvas id="avgGoalScoresPieChart" width="400" height="200"></canvas>
        <div>
        </div>
      </div>
    </div>

    <div class="col-xl-6">
      <div class="card">
        <div class="card-header">
          <h4>Year With Highest SDG Goals (2022)</h4>
        </div>
          <canvas id="HighestSdgGoalYear" width="400" height="200"></canvas>
        <div>
        </div>
      </div>
    </div>
     
      
    </div> <!-- .content -->
  </div><!-- /#right-panel -->

  <!-- Right Panel -->

  <script src="{% static 'sadm/vendors/jquery/dist/jquery.min.js'%}"></script>
  <script src="{% static 'sadm/vendors/popper.js/dist/umd/popper.min.js'%}"></script>
  <script src="{% static 'sadm/vendors/bootstrap/dist/js/bootstrap.min.js'%}"></script>
  <script src="{% static 'sadm/assets/js/main.js'%}"></script>
  <script src="{% static 'sadm/assets/js/dashboard.js'%}"></script>
  <script src="{% static 'sadm/assets/js/widgets.js'%}"></script>
  

  <!-- Profile Modal -->
  <div class="modal fade" id="profileModal" tabindex="-1" role="dialog" aria-labelledby="profileModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="profileModalLabel">My Profile</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="text-center">
            <img src="{% static 'images/user.jpg' %}" id="modalImage" alt="Image Preview" class="img-fluid">
          </div>
          <div class="mt-3">
            <strong>Username:</strong> {{ user.username }}<br>
            <strong>First Name:</strong> {{ user.first_name }}<br>
            <strong>Last Name:</strong> {{ user.last_name }}<br>
            <strong>Email:</strong> {{ user.email }}<br>
            <strong>User Status:</strong> Staff: {% if user.is_staff %}✔️{% else %}❌{% endif %}, Member: {% if user.is_staff %}❌{% else %}✔️{% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- Mail Modal -->
  <div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <div class="text-center">
            <h5 class="modal-title" id="imageModalLabel">Mail</h5>
          </div>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <img src="{% static 'images/video_cat.jpg' %}" id="modalImage" alt="Image Preview" class="img-fluid">
          <div class="chat-message">
            <h5>Loloy:</h5>
            <h>Meow? Meow Meow, Meow, Meow Meow</h>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    document.addEventListener("DOMContentLoaded", function () {
      // Parse the data passed from the view
      var highest_goal_year = [[68.64555555555555, 59.78888888888887, 69.45388888888893, 76.44944444444451, 63.09166666666667, 66.18333333333328, 61.208888888888914, 71.9566666666667, 51.773333333333305, 56.04166666666664, 71.88444444444445, 80.21166666666669, 82.52111111111111, 50.50444444444444, 66.1138888888889, 61.18833333333331, 60.78111111111113]];
  
      // Ensure avgGoalScoreData is not null or undefined
      if (!highest_goal_year) {
        console.error("Error: highest_goal_year is null or undefined.");
        return;
      }
  
      // Flatten the list and create labels for each goal
      var goalLabels = Array.from({ length: highest_goal_year[0].length }, (_, i) => `Goal ${i + 1}`);
      var avgGoalScores = highest_goal_year[0];
  
      // Configuration for the pie chart
      var config = {
        type: "doughnut",
        data: {
          labels: goalLabels,
          datasets: [{
            data: avgGoalScores,
            backgroundColor: [
              'rgba(255, 99, 132, 0.8)',
              'rgba(255, 159, 64, 0.8)',
              'rgba(255, 205, 86, 0.8)',
              'rgba(75, 192, 192, 0.8)',
              'rgba(54, 162, 235, 0.8)',
              'rgba(153, 102, 255, 0.8)',
              'rgba(201, 203, 207, 0.8)',
              'rgba(0, 128, 0, 0.8)',     // Green
              'rgba(128, 0, 128, 0.8)',  // Purple
              'rgba(0, 128, 128, 0.8)',  // Teal
              'rgba(255, 0, 0, 0.8)',    // Red
              'rgba(0, 255, 0, 0.8)',    // Lime
              'rgba(0, 0, 255, 0.8)',    // Blue
              'rgba(255, 0, 255, 0.8)',  // Fuchsia
              'rgba(255, 165, 0, 0.8)',  // Orange
              'rgba(255, 20, 147, 0.8)', // Deep Pink
              'rgba(128, 128, 0, 0.8)'   // Olive
            ]
          }]
        }
      };
  
      // Get the canvas element
      var ctx = document.getElementById("HighestSdgGoalYear").getContext("2d");
  
      // Create the pie chart
      var HighestSdgGoalYear = new Chart(ctx, config);
    });
  </script>
  

  <script>
    document.addEventListener('DOMContentLoaded', function () {
        // Parse the data passed from the view
        var avgSdgDataString = '{{ avg_sdg_data_low|safe }}';
        var avgSdgDataLow = JSON.parse(avgSdgDataString.replace(/'/g, '"'));

        console.log(avgSdgDataLow);  // Add this line for debugging

        // Ensure avgSdgData is not null or undefined
        if (!avgSdgDataLow) {
            console.error("Error: avgSdgData is null or undefined.");
            return;
        }

        // Extract labels and data from avgSdgData
        var countryCodes = avgSdgDataLow.map(entry => entry[0]);
        var avgSdgScores = avgSdgDataLow.map(entry => entry[1]);

        // Configuration for the horizontal bar chart
        var config = {
            type: 'bar',
            data: {
                labels: countryCodes,
                datasets: [{
                    label: 'Average Index Score (2000-2022)',
                    data: avgSdgScores,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(255, 159, 64, 0.2)',
                        'rgba(255, 205, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(54, 122, 235, 0.2)',
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(255, 159, 64, 1)',
                        'rgba(255, 205, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(54, 122, 235, 1)',
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                indexAxis: 'y',
                scales: {
                    x: {
                        beginAtZero: true
                    },
                    y: {
                        maxTicksLimit: 10  // Set the maximum number of ticks on the y-axis
                    }
                },
                plugins: {
                    title: {
                        display: true,
                        text: 'Lowest Average Index Score (2000-2022)',
                        position: 'top'
                    },
                    legend: {
                        display: false  // To hide the legend
                    }
                }
            }
        };

        // Get the canvas element
        var ctx = document.getElementById('avgSdgChartLow').getContext('2d');

        // Create the bar chart
        var avgSdgChartLow = new Chart(ctx, config);
    });
</script>

  <script>
    document.addEventListener("DOMContentLoaded", function () {
      // Parse the data passed from the view
      var avgGoalScoreData = [[64.82, 57.74, 64.05, 71.99, 55.80, 63.96, 57.34, 69.84, 37.11, 52.37, 69.93, 79.68, 81.93, 48.57, 64.66, 62.19, 55.54]];
  
      // Ensure avgGoalScoreData is not null or undefined
      if (!avgGoalScoreData) {
        console.error("Error: avgGoalScoreData is null or undefined.");
        return;
      }
  
      // Flatten the list and create labels for each goal
      var goalLabels = Array.from({ length: avgGoalScoreData[0].length }, (_, i) => `Goal ${i + 1}`);
      var avgGoalScores = avgGoalScoreData[0];
  
      // Configuration for the pie chart
      var config = {
        type: "polarArea",
        data: {
          labels: goalLabels,
          datasets: [{
            data: avgGoalScores,
            backgroundColor: [
              'rgba(255, 99, 132, 0.8)',
              'rgba(255, 159, 64, 0.8)',
              'rgba(255, 205, 86, 0.8)',
              'rgba(75, 192, 192, 0.8)',
              'rgba(54, 162, 235, 0.8)',
              'rgba(153, 102, 255, 0.8)',
              'rgba(201, 203, 207, 0.8)',
              'rgba(0, 128, 0, 0.8)',     // Green
              'rgba(128, 0, 128, 0.8)',  // Purple
              'rgba(0, 128, 128, 0.8)',  // Teal
              'rgba(255, 0, 0, 0.8)',    // Red
              'rgba(0, 255, 0, 0.8)',    // Lime
              'rgba(0, 0, 255, 0.8)',    // Blue
              'rgba(255, 0, 255, 0.8)',  // Fuchsia
              'rgba(255, 165, 0, 0.8)',  // Orange
              'rgba(255, 20, 147, 0.8)', // Deep Pink
              'rgba(128, 128, 0, 0.8)'   // Olive
            ]
          }]
        }
      };
  
      // Get the canvas element
      var ctx = document.getElementById("avgGoalScoresPieChart").getContext("2d");
  
      // Create the pie chart
      var avgGoalScoresPieChart = new Chart(ctx, config);
    });
  </script>
  
  <script>
    document.addEventListener('DOMContentLoaded', function () {
        // Parse the data passed from the view
        var avgScoreByYearDataString = '{{ avg_score_by_year_data|safe }}';
        var avgScoreByYearData = JSON.parse(avgScoreByYearDataString.replace(/'/g, '"'));
    
        console.log(avgScoreByYearData);  // Add this line for debugging
    
        // Ensure avgScoreByYearData is not null or undefined
        if (!avgScoreByYearData) {
            console.error("Error: avgScoreByYearData is null or undefined.");
            return;
        }
    
        // Extract labels and data from avgScoreByYearData
        var years = avgScoreByYearData.map(entry => entry[0]);
        var avgScores = avgScoreByYearData.map(entry => entry[1]);
    
        // Configuration for the line chart
        var config = {
            type: 'line',
            data: {
                labels: years,
                datasets: [{
                    label: 'Average Index Score (2000-2022)',
                    data: avgScores,
                    backgroundColor:   
                    [
                      'rgba(255, 99, 132, 0.8)',
                      'rgba(255, 159, 64, 0.8)',
                      'rgba(255, 205, 86, 0.8)',
                      'rgba(75, 192, 192, 0.8)',
                      'rgba(54, 162, 235, 0.8)',
                      'rgba(153, 102, 255, 0.8)',
                      'rgba(201, 203, 207, 0.8)',
                      'rgba(255, 99, 132, 0.8)',
                      'rgba(255, 159, 64, 0.8)',
                      'rgba(255, 205, 86, 0.8)',
                      'rgba(75, 192, 192, 0.8)',
                      'rgba(54, 162, 235, 0.8)',
                      'rgba(153, 102, 255, 0.8)',
                      'rgba(201, 203, 207, 0.8)',
                      'rgba(255, 99, 132, 0.8)',
                      'rgba(255, 159, 64, 0.8)',
                      'rgba(255, 205, 86, 0.8)',
                      'rgba(75, 192, 192, 0.8)',
                      'rgba(54, 162, 235, 0.8)',
                      'rgba(153, 102, 255, 0.8)',
                      'rgba(201, 203, 207, 0.8)'
                    ],
                    borderColor:
                    [
                      'rgba(255, 99, 132, 0.8)',
                      'rgba(255, 159, 64, 0.8)',
                      'rgba(255, 205, 86, 0.8)',
                      'rgba(75, 192, 192, 0.8)',
                      'rgba(54, 162, 235, 0.8)',
                      'rgba(153, 102, 255, 0.8)',
                      'rgba(201, 203, 207, 0.8)',
                      'rgba(255, 99, 132, 0.8)',
                      'rgba(255, 159, 64, 0.8)',
                      'rgba(255, 205, 86, 0.8)',
                      'rgba(75, 192, 192, 0.8)',
                      'rgba(54, 162, 235, 0.8)',
                      'rgba(153, 102, 255, 0.8)',
                      'rgba(201, 203, 207, 0.8)',
                      'rgba(255, 99, 132, 0.8)',
                      'rgba(255, 159, 64, 0.8)',
                      'rgba(255, 205, 86, 0.8)',
                      'rgba(75, 192, 192, 0.8)',
                      'rgba(54, 162, 235, 0.8)',
                      'rgba(153, 102, 255, 0.8)',
                      'rgba(201, 203, 207, 0.8)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
          scales: {
              x: {
                  type: 'linear',
                  position: 'bottom',
                  ticks: {
                      stepSize: 1,
                      min: 2000,
                      max: 2022,
                      autoSkip: false  // Set autoSkip to false to display all years
                  }
              },
              y: {
                  beginAtZero: true,
                  min: 50,
                  max: 80
              }
          }
          }
        };
    
        // Get the canvas element
        var ctx = document.getElementById('avgScoreByYearChart').getContext('2d');
    
        // Create the line chart
        var avgScoreByYearChart = new Chart(ctx, config);
    });
    </script>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
        // Parse the data passed from the view
        var avgSdgDataString = '{{ avg_sdg_data|safe }}';
        var avgSdgData = JSON.parse(avgSdgDataString.replace(/'/g, '"'));

        console.log(avgSdgData);  // Add this line for debugging

        // Ensure avgSdgData is not null or undefined
        if (!avgSdgData) {
            console.error("Error: avgSdgData is null or undefined.");
            return;
        }

        // Extract labels and data from avgSdgData
        var countryCodes = avgSdgData.map(entry => entry[0]);
        var avgSdgScores = avgSdgData.map(entry => entry[1]);

        // Configuration for the horizontal bar chart
        var config = {
            type: 'bar',
            data: {
                labels: countryCodes,
                datasets: [{
                    label: 'Average Index Score (2000-2022)',
                    data: avgSdgScores,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(255, 159, 64, 0.2)',
                        'rgba(255, 205, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(54, 122, 235, 0.2)',
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(255, 159, 64, 1)',
                        'rgba(255, 205, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(54, 122, 235, 1)',
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                indexAxis: 'y',
                scales: {
                    x: {
                        beginAtZero: true
                    },
                    y: {
                        maxTicksLimit: 10  // Set the maximum number of ticks on the y-axis
                    }
                },
                plugins: {
                    title: {
                        display: true,
                        text: 'Highest Average Index Score (2000-2022)',
                        position: 'top'
                    },
                    legend: {
                        display: false  // To hide the legend
                    }
                }
            }
        };

        // Get the canvas element
        var ctx = document.getElementById('avgSdgChart').getContext('2d');

        // Create the bar chart
        var avgSdgChart = new Chart(ctx, config);
    });
</script>

</body>
{% if messages %}
{% for message in messages %}
{% if message.tags == 'success' %}
<script>
  // Check if there are success messages
  // Display SweetAlert for each success message
  Swal.fire({
    icon: 'success',
    title: 'Success',
    text: '{{ message }}',
  });
</script>
{% endif %}
{% endfor %}
{% endif %}

</html>
{% endif %}
{% endblock%}